@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    background-color: hsla(0, 0%, 100%, 0.76);;
}

/* -- caixa maior -- */
#container {
    display: flex;
    flex-direction: row;  
    /*border: 1px solid black;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 350px;
    box-shadow: 1px 12px 15px 10px rgba(0, 0, 0, 0.048);
    border-radius: 25px;
}

/* -- lado esquerdo -- */
#leftside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /*border: 1px solid black;*/
    border-radius: 25px;
    width: 250px;
    background: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}

.toptext1 {
    padding: 20px;
    margin-bottom: -10px;
    font-size: 0.9em;
    font-weight: 700;
    color: hsla(241, 100%, 89%)
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0)
    );
    /*border: 1px solid black;*/
    border-radius: 50%;
    width: 140px;
    height: 140px;
}
#results:hover {
    font-size: 1.5em;
    transition: ease-in, .2s;
}
.results {
    font-weight: 800;
    font-size: 2.5em;
    color: hsl(0, 0%, 100%);;
}
.of {
    margin-top: -5px;
    font-weight: 500;
    font-size: .65em;
    color: hsla(241, 100%, 89%)
}

.congrats {
    font-weight: 700;
    font-size: 1.2em;
    color: hsl(0, 0%, 100%);
}

.text {
    font-weight: 500;
    font-size: .65em;
    margin: 0 43px 43px 43px;
    color: hsla(241, 100%, 89%)
}


/* -- lado direito -- */
#rightside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 250px;
}
.toptext2 {
    font-size: .9em;
    font-weight: 700;
    margin: 10px;
    margin: 0 30px 0px 30px;
    color: hsl(224, 30%, 27%);
    
}

/* -- atributos -- */
.globalatrib {
    /*border: 1px solid black;*/
    border-radius: 5px;
    height: 30px;
    margin: 0 30px;
    padding: 4px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.atribbutes {
    font-size: .65em;
    font-weight: 700;
    padding: 0 10px;
}
.atribbutesaux {
    font-size: .65em;
    font-weight: 700;
    padding: 0 10px;
    color: hsl(224, 30%, 27%);
}
.dataaux {
    opacity: 50%;
}

#reaction {
    color: hsla(0, 100%, 67%, 0.7);
    background-color: hsla(0, 100%, 67%, 0.06);
}
#reaction:hover{
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.1);
}
#memory {
    color: hsla(39, 100%, 56%, 0.7);
    background-color: hsla(39, 100%, 56%, 0.06);
}
#memory:hover {
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.1);
}
#verbal {
    color: hsl(166, 100%, 37%, 0.7);
    background-color: hsl(166, 100%, 37%, 0.06);
}
#verbal:hover {
    color: hsl(166, 100%, 37%);
    background-color: hsl(166, 100%, 37%, 0.1);
}
#visual {
    color: hsl(234, 85%, 45%, 0.7);
    background-color: hsl(234, 85%, 45%, 0.06);
}
#visual:hover {
    color: hsl(234, 85%, 45%);
    background-color: hsl(234, 85%, 45%, 0.1);
}

/* -- botão continue -- */
#continue {
    position: relative;
    font-size: .65em;
    font-weight: 700;
    
    border-radius: 25px;
    padding: 10px;
    margin: 15px 30px 0px 30px;
    top: -10px;
    background-color: hsl(224, 30%, 27%);
}
#continue:hover {
    background: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}
.continue {
    text-align: center;
    color: hsl(221, 100%, 96%);
}

/* --FOOTER-- */
.attribution {
    text-align: center;
    font-size: 11px;
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(38, 4, 255);
}
.attribution a {
    color: hsl(0, 0%, 0%);
    text-decoration: none; 
}
a:hover {
    text-decoration: underline;

}