@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body,html {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(216, 12%, 54%);
    --darkBlue: hsl(213, 19%, 18%);
    --veryDarkBlue: hsl(216, 12%, 8%);

}

/*--footer--*/
.attribution { 
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
/*
---information---

- Mobile: 375px
- Desktop: 1440px

- Family: [Overpass](https://fonts.google.com/specimen/Overpass)
- Weights: 400, 700
*/