@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* -- PRIMARY --*/
    --softBlue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    /* -- NEUTRAL -- */
    --veryDarkBlueMainBG: hsl(217, 54%, 11%);
    --veryDarkBlueCardBG: hsl(216, 50%, 16%);
    --veryDarkBlueLine: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

body {
    background-color: var(--veryDarkBlueMainBG);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

#imageEquilibrium {
    width: 280px;
    border-radius: 10px;
    margin: 19px;
}
#imageEquilibrium:hover {
    
}

#container {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: var(--veryDarkBlueCardBG);
    box-shadow: 0px 20px 20px 10px rgba(0, 0, 0, 0.397);
}

.name {
    color: var(--White);
    margin-left: 20px;
    font-weight: 600;
    font-size: 1.1em;
}
.name:hover {
    color: var(--Cyan);
}
.description {
    color: var(--softBlue);
    margin-left: 20px;
    font-weight: 300;
    font-size: .9em;
    padding: 20px 0 25px 0;
}

.data {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    padding: 0px 0 25px 0;
    font-size: .8em;
}
.eth {
    display: flex;
    gap: 7px;
    color: var(--Cyan);
    font-weight: 600;
}
.time {
    display: flex;
    gap: 7px;
    color: var(--softBlue);
}

.creator {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 0px 20px;
    padding-top: 15px;
    font-size: .9em;
    border-top: 1px solid var(--veryDarkBlueLine);
}
.avatar {
    width: 30px;
    border: 1px solid var(--White);
    border-radius: 50%;
}
.create {
    color: var(--softBlue);
}
.creatName {
    color: var(--White);
}
.creatName:hover {
    color: var(--Cyan);
}

/* -- FOOTER -- */
footer {
    text-align: center;
    font-size: 11px;
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--softBlue);
}
.attribution a {
    color: var(--Cyan);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/*
    ---- INFORMATION ----

    Weights: 300, 400, 600

    - Mobile: 375px
    - Desktop: 1440px
*/